@model List<MPR.Models.Games.EspnGame>
<table class="table" id="example">
    <tbody>
        @foreach (var game in Model)
        {
        <tr>
            <td>@game.AwayTeam</td>
            @if (@game.NotifyAway)
            {
                <td style="font-weight: bold" class="text-success">@game.AwayTeamScore</td>
            }
            else
            {
                <td>@game.AwayTeamScore</td>
            }

            <td>@game.HomeTeam</td>
            @if (@game.NotifyHome)
            {
                <td style="font-weight: bold" class="text-success">@game.HomeTeamScore</td>
            }
            else
            {
                <td>@game.HomeTeamScore</td>
            }

            <td><a href="@game.TimeLink">@game.Time</a></td>
        </tr>
        }
    </tbody>
</table>
