<table class="table" id="example">
    <thead>
        <tr>
            <th>Away</th>
            <th />
            <th>Home</th>
            <th/>
            <th/>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>

                @if (@game.NotifyAway)
                {
                    <td style="font-weight: bold">@game.AwayTeam</td>
                    <td style="font-weight: bold">@game.AwayTeamScore</td>
                }
                else
                {
                    <td>@game.AwayTeam</td>
                    <td>@game.AwayTeamScore</td>
                }

                @if (@game.NotifyHome)
                {
                    <td style="font-weight: bold">@game.HomeTeam</td>
                    <td style="font-weight: bold">@game.HomeTeamScore</td>
                }
                else
                {
                    <td>@game.HomeTeam</td>
                    <td>@game.HomeTeamScore</td>
                }
                <td>@game.Time</td>
            </tr>
        }
    </tbody>
</table>
