@model MPR.Models.MeatSports

<table class="table" id="example">
    <tbody>
        @foreach (var sport in Model.Sports)
        {
            <tr><td colspan="5" class="text-capitalize font-weight-bold">@sport.Name</td></tr>
            foreach (var game in sport.Games)
            {
                <tr>
                    @if(game.AwayTeamWon)
                    {
                        <td class="text-left text-success font-weight-bold">@game.AwayTeam</td>
                    }
                    else
                    {
                        <td class="text-left">@game.AwayTeam</td>
                    }

                    
                    @if (@game.NotifyAway)
                    {
                        <td class="text-success font-weight-bold">@game.AwayTeamScore</td>
                    }
                    else
                    {
                        <td>@game.AwayTeamScore</td>
                    }

                    @if(game.HomeTeamWon)
                    {
                        <td class="text-left text-success font-weight-bold">@game.HomeTeam</td>
                    }
                    else
                    {
                        <td class="text-left">@game.HomeTeam</td>
                    }

                    
                    @if (@game.NotifyHome)
                    {
                        <td class="text-success font-weight-bold">@game.HomeTeamScore</td>
                    }
                    else
                    {
                        <td>@game.HomeTeamScore</td>
                    }

                    <td><a href="@game.TimeLink">@game.Time</a></td>
                </tr>
            }
        }
    </tbody>
</table>
