@model List<MPR.Models.Games.OwlGame>
<table class="table" id="example">
    <tbody>
    @foreach (var week in Model.Select(m => Tuple.Create(m.WeekNumber, m.WeekName)).Distinct())
    {
        <tr><td colspan="5">@week.Item2</td></tr>
        foreach (var game in Model.Where(m => m.WeekNumber == week.Item1))
        {
            <tr>
                @if (@game.AwayTeamWon)
                {
                    <td style="font-weight: bold"><a href="@game.AwayTeamLink">@game.AwayTeam</a></td>
                }
                else
                {
                    <td><a href="@game.AwayTeamLink">@game.AwayTeam</a></td>
                }
                <td>@game.AwayTeamScore</td>

                @if (@game.HomeTeamWon)
                {
                    <td style="font-weight: bold"><a href="@game.HomeTeamLink">@game.HomeTeam</a></td>
                }
                else
                {
                    <td><a href="@game.HomeTeamLink">@game.HomeTeam</a></td>
                }
                <td>@game.HomeTeamScore</td>

                <td>
                    <a href="@game.TimeLink">@game.Time</a>
                    @if (game.LiveLink != null)
                    {
                        <span> | </span><a href="@game.LiveLink">Watch</a>
                    }
                </td>

            </tr>
        }
    }
    </tbody>
</table>
