@model List<MPR.Models.OwlGame>

<table class="table">
    <tbody>
        @foreach (var week in Model.Select(m => Tuple.Create(m.WeekNumber, m.WeekName)).Distinct())
        {
            <tr><td colspan="5" class="font-weight-bold">@week.Item2</td></tr>
            foreach (var game in Model.Where(m => m.WeekNumber == week.Item1))
            {
                <tr>
                    @if (@game.AwayTeamWon)
                    {
                        <td class="text-success font-weight-bold">@game.AwayTeam</td>
                    }
                    else
                    {
                        <td>@game.AwayTeam</td>
                    }
                    <td>@game.AwayTeamScore</td>

                    @if (@game.HomeTeamWon)
                    {
                        <td class="text-success font-weight-bold">@game.HomeTeam</td>
                    }
                    else
                    {
                        <td>@game.HomeTeam</td>
                    }
                    <td>@game.HomeTeamScore</td>

                    <td>
                        <a href="@game.TimeLink">@game.Time</a>

                        @if(game.EncoreTime != null)
                        {
                            <span> / </span> <a href="@game.EncoreLink">@game.EncoreTime</a>
                        }

                        @if (game.LiveLink != null)
                        {
                            <span> | </span><a href="@game.LiveLink">Watch</a>
                        }
                    </td>

                </tr>
            }
        }
    </tbody>
</table>