@model List<MPR.Models.Standings>

<table class="table">
    <tbody>
        @foreach(var tourney in Model)
        {
            <tr><td colspan="6" class="font-weight-bold">@tourney.TournamentName</td></tr>
            foreach(var region in tourney.Regions)
            {
                bool showRegionName = true;
                foreach(var team in region.Teams)
                {
                    <tr>
                        @if(showRegionName)
                        {
                            <td class="text-secondary">@region.Name</td>
                            showRegionName = false;
                        }
                        else
                        {
                            <td/>
                        }

                        @if (team.MakesCutoff)
                        {
                            <td><a href="@team.TeamUrl" class="text-success">@team.Name</a></td>
                        }
                        else
                        {
                            <td><a href="@team.TeamUrl" class="text-white">@team.Name</a></td>
                        }

                        <td>@team.Wins-@team.Loses</td>
                        <td>@team.Points</td>

                        @if (team.MapDiff.Contains("+"))
                        {
                            <td class="text-success">@team.MapDiff</td>
                        }
                        else if (team.MapDiff.Contains("-"))
                        {
                            <td class="text-danger">@team.MapDiff</td>
                        }
                        else
                        {
                            <td>@team.MapDiff</td>
                        }

                        <td>@team.WinLoss</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
